<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: html(content=~{::main-content}, pageTitle='Process manager')}">
<body>
<main-content th:fragment="main-content" th:remove="tag">
    <div th:replace="~{admin/_card :: card('Process manager', ~{::cardBody})}">
        <div th:fragment="cardBody" th:remove="tag">
            <p>Running async jobs (copy-trans, merge-trans, TM merge, reindex).
                The job list + cancel buttons land here once the
                /rest/process endpoint migrates.</p>
            <table class="l__data">
                <thead><tr><th>Job</th><th>Started</th><th>Progress</th><th></th></tr></thead>
                <tbody><tr><td colspan="4" class="txt--meta">No active jobs.</td></tr></tbody>
            </table>
        </div>
    </div>
</main-content>
</body>
</html>
