<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: html(content=~{::main-content}, pageTitle='Merge account')}">
<body>
<main-content th:fragment="main-content" th:remove="tag">
    <div class="g">
        <div class="g__item w--3-4-m w--1-2-l u-centerBlock">
            <div class="panel l--push-top-1">
                <div class="panel__header"><h2 class="gamma heading--sub">Merge account</h2></div>
                <div class="l--pad-all-half">
                    <p>If you have two Zanata accounts you can merge them here once
                        the merge-account service migrates.  Until then this page is
                        a placeholder.</p>
                </div>
            </div>
        </div>
    </div>
</main-content>
</body>
</html>
