<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: html(content=~{::main-content}, pageTitle='Something went wrong')}">
<body>
<main-content th:fragment="main-content" th:remove="tag">
    <div class="g">
        <div class="g__item w--3-4-m w--1-2-l u-centerBlock txt--align-center l--push-top-2">
            <h1 class="alpha">Something went wrong</h1>
            <p class="lead">An unexpected error happened.  The administrator has been notified.</p>
            <p>
                <a th:href="@{/}" class="button--primary">Go home</a>
            </p>
        </div>
    </div>
</main-content>
</body>
</html>
