<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: html(content=~{::main-content}, pageTitle='Resource not found')}">
<body>
<main-content th:fragment="main-content" th:remove="tag">
    <div class="g">
        <div class="g__item w--3-4-m w--1-2-l u-centerBlock txt--align-center l--push-top-2">
            <h1 class="alpha">Not found</h1>
            <p class="lead">The project, version or document you requested no longer exists.</p>
            <p><a th:href="@{/explore}" class="button--primary">Browse projects</a></p>
        </div>
    </div>
</main-content>
</body>
</html>
