<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: html(content=~{::main-content}, pageTitle=|Language - ${slug}|)}">
<body>
<main-content th:fragment="main-content" th:remove="tag">
    <div class="g">
        <div class="g__item w--1">
            <p class="txt--meta"><a th:href="@{/languages}">Languages</a></p>
            <h1 class="l--push-bottom-half" th:text="${slug}">slug</h1>
            <p class="txt--understated">Language team page.  Members, locale stats,
                join/leave actions land here once the /rest/locales/{id}/members
                endpoint is wired in.</p>
        </div>
    </div>
</main-content>
</body>
</html>
