<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: html(content=~{::main-content}, pageTitle='Maintained Groups')}">
<body>
<main-content th:fragment="main-content" th:remove="tag">
    <div class="panel">
        <div class="panel__header">
            <h2 class="panel__heading">Maintained Groups</h2>
        </div>

        <form id="groupListForm" class="l--push-bottom-1">
            <div th:if="${groups == null or groups.isEmpty()}"
                 class="l--pad-all-half bg--high">
                <p><em>No groups maintained yet.</em></p>
            </div>
            <ul th:if="${groups != null and !groups.isEmpty()}"
                id="maintainedGroups" class="list--stats">
                <li th:each="group : ${groups}" class="list_item">
                    <a th:href="@{|/version-group/version_group/${group.slug}|}">
                        <div class="list__item__content">
                            <div class="list__item__info">
                                <h3 class="list__title bx--inline-block"
                                    th:text="${group.name}">group name</h3>
                                <p class="list__item__meta"
                                   th:text="${group.description}">group description</p>
                            </div>
                            <div class="list__item__stats">
                                <span class="stats--mini">
                                    <span class="stats__figure"
                                          th:text="${group.creationDate != null ? 'Created ' + #dates.format(group.creationDate, 'd MMM yyyy') : ''}">
                                        date
                                    </span>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </form>
    </div>
</main-content>
</body>
</html>
