<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: html(content=~{::main-content}, pageTitle='OpenID sign in')}">
<body>
<main-content th:fragment="main-content" th:remove="tag">
    <div class="g">
        <div class="g__item w--3-4-m w--1-2-l u-centerBlock">
            <div class="panel l--push-top-1">
                <div class="panel__header"><h2 class="gamma heading--sub">OpenID sign in</h2></div>
                <div class="l--pad-all-half">
                    <p>Pick a provider:</p>
                    <ul class="list--no-bullets">
                        <li><a th:href="@{/account/openid}" data-provider="Fedora">Sign in with Fedora</a></li>
                        <li><a th:href="@{/account/openid}" data-provider="Yahoo">Sign in with Yahoo</a></li>
                    </ul>
                    <form class="l--push-top-half" th:action="@{/account/openid}" method="post">
                        <label for="openid">Generic OpenID URL</label>
                        <input id="openid" name="openid" type="text" placeholder="https://..."/>
                        <button type="submit" class="button--primary l--push-top-half">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main-content>
</body>
</html>
