<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: html(content=~{::main-content}, pageTitle='Set new password')}">
<body>
<main-content th:fragment="main-content" th:remove="tag">
    <div class="g">
        <div class="g__item w--3-4-m w--1-2-l u-centerBlock">
            <div class="panel l--push-top-1">
                <div class="panel__header"><h2 class="gamma heading--sub">Reset password</h2></div>
                <div class="l--pad-all-half">
                    <div th:if="${error}" class="message message--danger" th:text="${error}">err</div>
                    <form th:action="@{/account/password_reset}" method="post" class="form">
                        <input type="hidden" name="key" th:value="${key}"/>
                        <div class="form__item">
                            <label for="password">New password</label>
                            <input id="password" name="password" type="password" required="required"/>
                        </div>
                        <div class="form__item">
                            <label for="passwordConfirm">Confirm password</label>
                            <input id="passwordConfirm" name="passwordConfirm" type="password" required="required"/>
                        </div>
                        <button id="resetPasswordButton" type="submit"
                                class="l--push-top-1 button--primary button--full">
                            Set new password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main-content>
</body>
</html>
