<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: html(content=~{::main-content}, pageTitle='Reset password')}">
<body>
<main-content th:fragment="main-content" th:remove="tag">
    <div class="g">
        <div class="g__item w--3-4-m w--1-2-l u-centerBlock">
            <div class="panel l--push-top-1">
                <div class="panel__header"><h2 class="gamma heading--sub">Reset password</h2></div>
                <div class="l--pad-all-half">
                    <div th:if="${message}" class="message message--info" th:text="${message}">msg</div>
                    <form th:action="@{/account/password_reset_request}" method="post" class="form">
                        <div class="form__item">
                            <label for="usernameEmail">Username or email</label>
                            <input id="usernameEmail" name="usernameEmail" type="text" required="required"
                                   placeholder="Username or email"/>
                        </div>
                        <button type="submit" class="button--primary l--push-top-half button--full">
                            Send reset email
                        </button>
                    </form>
                    <p class="txt--mini l--push-top-half">
                        <a th:href="@{/account/login}">Back to sign in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main-content>
</body>
</html>
