<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js new-zanata template">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="color-scheme" content="light"/>
    <title th:text="|Zanata: ${pageTitle ?: ''}|">Zanata</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/assets/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/fontello/css/fontello.css}"/>
    <style>
        html, body { background: #ffffff !important; color: #222 !important; }
        main.rootMain { padding-bottom: 64px; }
    </style>
    <link rel="icon" th:href="@{/resources/assets/img/logo/logo.ico}"/>
</head>
<body class="new-zanata templateStyle">
<div class="templateWrapper">
    <div class="templateContainer">
        <main role="main" class="rootMain">
            <div class="l__wrapper rootMain-content l--pad-top-half">
                <div th:replace="${content}">page content goes here</div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
