<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="sideNav(loggedIn, isAdmin, username)"
     id="nav" name="" class="nav-bar">

    <a id="nav_home" href="/" class="nav-link">
        <span class="navBar-navLogo">Zanata</span>
    </a>

    <a id="nav_search" href="/explore" class="nav-link">
        <span class="nav-icon"><svg class="s1" style="fill: currentColor;"><use xlink:href="#Icon-search"/></svg></span>
        Explore
    </a>

    <th:block th:unless="${loggedIn}">
        <a id="nav_login" href="/login" class="nav-link small">
            <span class="nav-icon"><svg class="s1" style="fill: currentColor;"><use xlink:href="#Icon-import"/></svg></span>
            Log In
        </a>
    </th:block>

    <th:block th:if="${loggedIn}">
        <a id="nav_dashboard" href="/dashboard" class="nav-link small">
            <span class="nav-icon"><svg class="s1" style="fill: currentColor;"><use xlink:href="#Icon-dashboard"/></svg></span>
            Dashboard
        </a>
        <a id="nav_profile" th:href="@{|/profile/view/${username}|}" class="nav-link small">
            <span class="nav-icon"><svg class="s1" style="fill: currentColor;"><use xlink:href="#Icon-user"/></svg></span>
            Profile
        </a>
        <a id="nav_glossary" href="/glossary" class="nav-link">
            <span class="nav-icon"><svg class="s1" style="fill: currentColor;"><use xlink:href="#Icon-glossary"/></svg></span>
            Glossary
        </a>
        <a id="nav_language" href="/languages" class="nav-link">
            <span class="nav-icon"><svg class="s1" style="fill: currentColor;"><use xlink:href="#Icon-language"/></svg></span>
            Languages
        </a>
        <a id="nav_settings" href="/dashboard/settings" class="nav-link">
            <span class="nav-icon"><svg class="s1" style="fill: currentColor;"><use xlink:href="#Icon-settings"/></svg></span>
            Settings
        </a>
        <a th:if="${isAdmin}" id="nav_admin" href="/admin/home" class="nav-link">
            <span class="nav-icon"><svg class="s1" style="fill: currentColor;"><use xlink:href="#Icon-admin"/></svg></span>
            Admin
        </a>
        <a id="nav_logout" href="/account/sign_out" class="nav-link">
            <span class="nav-icon"><svg class="s1" style="fill: currentColor;"><use xlink:href="#Icon-logout"/></svg></span>
            Log Out
        </a>
    </th:block>

    <a id="nav_more" href="/info" class="nav-link small">
        <span class="nav-icon"><svg class="s1" style="fill: currentColor;"><use xlink:href="#Icon-ellipsis"/></svg></span>
        More
    </a>
</nav>
</body>
</html>
