<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: html(content=~{::main-content}, pageTitle=|Version - ${projectSlug}:${versionSlug}|)}">
<!--
  Version landing page: two-column grid with project breadcrumb, version
  label, overall statistics summary and the Languages / Documents /
  Settings tab strip.
-->
<body>
<main-content th:fragment="main-content" th:remove="tag">

<div class="g" id="versionPage">

  <div class="g__item w--1-m w--3-8-l w--1-3 l--push-bottom-half">
    <p class="txt--meta l--push-all-0">
      <a th:href="@{/dashboard/projects}">Projects</a>
      <i class="i i--arrow-right"></i>
      <a th:href="@{|/project/view/${projectSlug}|}" th:text="${project.name}">Project Name</a>
    </p>

    <div class="l--push-bottom-half" id="version-info">
      <h1 class="l--push-all-0" th:text="${versionSlug}">version-slug</h1>
    </div>

    <div class="progress-bar--large__expander l--pad-bottom-half" id="overall_statistic">
      <p class="d--top l--pad-top-half txt--mini">
        Total source: 0 words
      </p>
      <ul class="g--tight g--fit">
        <li class="g__item l--push-bottom-half">
          <span class="txt--state-success stats--large">
            <span class="stats__figure">0%</span>
            <span class="stats__unit txt--lowercase">translated</span>
          </span>
        </li>
        <li class="g__item l--push-bottom-half">
          <span class="stats--large">
            <span class="stats__figure">0</span>
            <span class="stats__unit txt--lowercase">total hours remaining</span>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="g__item w--1-m w--5-8-l w--2-3">
    <div class="tabs--lined js-tabs">
      <ul class="tabs__nav js-tabs-nav">
        <li>
          <a id="languages_tab"
             th:href="@{|/iteration/view/${projectSlug}/${versionSlug}/languages|}"
             class="js-url-mod" data-content="#languages">
            <i class="i i--language"></i>
            <span class="is-hidden--s i__text--right">
              Languages
              <span class="txt--neutral" id="languages-size">0</span>
            </span>
          </a>
        </li>
        <li>
          <a id="documents_tab"
             th:href="@{|/iteration/view/${projectSlug}/${versionSlug}/documents|}"
             class="js-url-mod" data-content="#documents">
            <i class="i i--document"></i>
            <span class="is-hidden--s i__text--right">
              Documents
              <span class="txt--neutral" id="documents-size">0</span>
            </span>
          </a>
        </li>
        <li class="tab__end">
          <a id="settings_tab"
             title="Version settings"
             th:href="@{|/iteration/view/${projectSlug}/${versionSlug}/settings|}"
             class="js-url-mod" data-content="#settings">
            <span class="is-hidden--s i__text--left">Settings</span>
            <i class="i i--settings"></i>
          </a>
        </li>
      </ul>

      <ul class="tabsContent panels__container js-tabs-content l--push-top-1">
        <li id="languages">
          <div class="txt--understated">No languages enabled for this version yet.</div>
        </li>
        <li id="documents">
          <div class="txt--understated">No documents uploaded yet.</div>
        </li>
      </ul>
    </div>
  </div>

</div>

</main-content>
</body>
</html>
